<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ppdream.xweb.mapper.BlogForwardMapper">
  <resultMap id="BaseResultMap" type="com.ppdream.xweb.entity.BlogForward">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="blog_name" jdbcType="VARCHAR" property="blogName" />
    <result column="blog_id" jdbcType="BIGINT" property="blogId" />
    <result column="forward_user_id" jdbcType="BIGINT" property="forwardUserId" />
    <result column="forward_user_name" jdbcType="VARCHAR" property="forwardUserName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, blog_name, blog_id, forward_user_id, forward_user_name, update_time, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_forward
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from blog_forward
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ppdream.xweb.entity.BlogForward" useGeneratedKeys="true">
    insert into blog_forward (blog_name, blog_id, forward_user_id, 
      forward_user_name, update_time, create_time
      )
    values (#{blogName,jdbcType=VARCHAR}, #{blogId,jdbcType=BIGINT}, #{forwardUserId,jdbcType=BIGINT}, 
      #{forwardUserName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ppdream.xweb.entity.BlogForward" useGeneratedKeys="true">
    insert into blog_forward
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blogName != null">
        blog_name,
      </if>
      <if test="blogId != null">
        blog_id,
      </if>
      <if test="forwardUserId != null">
        forward_user_id,
      </if>
      <if test="forwardUserName != null">
        forward_user_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blogName != null">
        #{blogName,jdbcType=VARCHAR},
      </if>
      <if test="blogId != null">
        #{blogId,jdbcType=BIGINT},
      </if>
      <if test="forwardUserId != null">
        #{forwardUserId,jdbcType=BIGINT},
      </if>
      <if test="forwardUserName != null">
        #{forwardUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ppdream.xweb.entity.BlogForward">
    update blog_forward
    <set>
      <if test="blogName != null">
        blog_name = #{blogName,jdbcType=VARCHAR},
      </if>
      <if test="blogId != null">
        blog_id = #{blogId,jdbcType=BIGINT},
      </if>
      <if test="forwardUserId != null">
        forward_user_id = #{forwardUserId,jdbcType=BIGINT},
      </if>
      <if test="forwardUserName != null">
        forward_user_name = #{forwardUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ppdream.xweb.entity.BlogForward">
    update blog_forward
    set blog_name = #{blogName,jdbcType=VARCHAR},
      blog_id = #{blogId,jdbcType=BIGINT},
      forward_user_id = #{forwardUserId,jdbcType=BIGINT},
      forward_user_name = #{forwardUserName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>