<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ppdream.xweb.mapper.WebUserMapper">
    <resultMap id="BaseResultMap" type="com.ppdream.xweb.entity.WebUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="passwd" jdbcType="VARCHAR" property="passwd"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, username, passwd, update_time, create_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from "web_user"
        where id = #{id}
    </select>
    <select id="selectByUsername" resultType="com.ppdream.xweb.entity.WebUser">
        select
        <include refid="Base_Column_List"></include>
        from "web_user"
        where username=#{username}
    </select>
    <select id="selectAll" resultType="com.ppdream.xweb.entity.WebUser">
        select
        <include refid="Base_Column_List"/>
        from "web_user"
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from "web_user"
        where id = #{id}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ppdream.xweb.entity.WebUser"
            useGeneratedKeys="true">
        insert into "web_user" (username, passwd, update_time,
                                create_time)
        values (#{username,jdbcType=VARCHAR}, #{passwd,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
                #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ppdream.xweb.entity.WebUser"
            useGeneratedKeys="true">
        insert into "web_user"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="passwd != null">
                passwd,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="passwd != null">
                #{passwd,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ppdream.xweb.entity.WebUser">
        update "web_user"
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="passwd != null">
                passwd = #{passwd,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ppdream.xweb.entity.WebUser">
        update "web_user"
        set username    = #{username,jdbcType=VARCHAR},
            passwd      = #{passwd,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id}
    </update>
</mapper>